@model List<CategoryModel>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>
                @category.Name
            </td
            <td>
                @category.Description
            </td>
        </tr>
    }
</table>

