@{
    ViewData["Title"] = "Home Page";
    string title = "EZ-Shop";
    var description = "Easy Shopping";
}

<div class="text-center">
    <h1 class="display-4">@title</h1>
    <p>@description</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

